<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- input에 작성된 내용을 어딘가로 던져주는 역할 form -->
    <form action="/receive" method="get">  <!-- 어디로 보낼 것인지 정해주는 action="/주소" -->
        <input type="text" name="who"/> <!-- 변수의 이름을 지정하는 것 -->
        <input type="text" name="message"/>
        <input type="submit" value="Submit"/>
    </form>
    
</body>
</html>